<!DOCTYPE html>
<html>
  <head>
    <title>Caesarnote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
    
    <script type="text/javascript">
      window.images = {
        logo: "<%= image_url('logo-2.png') %>",
        avatar: "<%= image_url('avatar.png') %>",
        blue_checkmark: "<%= image_url('blue-checkmark.png') %>"
      }
    </script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
